@if ($use-country-select == true) {
  .location-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $h6-size;
    .location {
      margin-bottom: $half-spacing-unit;
      position: relative;
      .remove {
        color: $light-grey;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-decoration: none;
        display: none;
        background: none;
        &:hover {
          color: $text;
        }
      }
      &:hover {
        .remove {
          display: block;
          color: $titles !important;
        }
      }
    }
    .text {
      strong {
        font-size: $h3-size;
        color: $violet;
        display: block;
        line-height: 16px;
      }
      span {
        line-height: 8px;
      }
    }
  }
  .location__name {
    text-transform: uppercase;
  }
  .city-list .location-list .location .remove {
    top: 4px;
  }

}
