// Titillium
@if ($use-titillium-font == true) {
  @include font-face("ttl", font-files("TitilliumText22L002-webfont.woff", "TitilliumText22L002-webfont.ttf", "TitilliumText22L002-webfont.svg", "TitilliumText22L002-webfont.eot"));
  @include font-face("ttr", font-files("TitilliumText22L003-webfont.woff", "TitilliumText22L003-webfont.ttf", "TitilliumText22L003-webfont.svg", "TitilliumText22L003-webfont.eot"));
  @include font-face("ttb", font-files("TitilliumText22L005-webfont.woff", "TitilliumText22L005-webfont.ttf", "TitilliumText22L005-webfont.svg", "TitilliumText22L005-webfont.eot"));
  body {
    font-family: ttr, Helvetica, Arial, sans-serif;
  }
  strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: ttb;
  }
  table th {
    font-weight: normal;
  }
}

@if ($use-opensans-font == true) {
  $opensansregular: "opensans-regular-webfont";
  $opensanssemibold: "opensans-semibold-webfont";
  @include font-face("opensans", font-files("#{$opensansregular}.woff","#{$opensansregular}.ttf","#{$opensansregular}.svg"),"#{$opensansregular}.eot");
  @include font-face("opensans", font-files("#{$opensanssemibold}.woff","#{$opensanssemibold}.ttf","#{$opensanssemibold}.svg"),"#{$opensanssemibold}.eot",bold);

  body, .opensans {
    font-family: opensans, Helvetica, Arial, sans-serif;
  }
}

@if ($use-adelle-font == true) {
  $adelle: "adelle-regular-webfont";
  @include font-face("adelle", font-files("#{$adelle}.woff","#{$adelle}.ttf","#{$adelle}.svg"),"#{$adelle}.eot",bold);
  h1, .adelle {
    font-family: adelle, Times, Georgia, serif;
  }
}

@if ($use-brandon-font == true) {
  $brandon: "brandon_bld-webfont";
  @include font-face("brandon", font-files("#{$brandon}.woff","#{$brandon}.ttf","#{$brandon}.svg"),"#{$brandon}.eot",bold);
  h2, h3, h4, h5, h6, th, .btn, header .nav, .brandon {
    font-family: brandon, Helvetica, Arial, sans-serif;
  }
}

// Klavika
@if ($use-klavika-font == true) {
  @include font-face("klavika", font-files("klavikalight-italicosf-webfont.woff", "klavikalight-italicosf-webfont.ttf", "klavikalight-italicosf-webfont.svg", "klavikalight-italicosf-webfont.eot"));
  .klavika {
    font-family: klavika;
    font-style: normal;
    font-weight: normal;
  }
}

// Icons
@include font-face("wise-icons", font-files("wise-icons.woff", "wise-icons.ttf", "wise-icons.svg", "wise-icons.eot"));

/*@font-face {
  font-family: 'wise-font';
  src:url('fonts/wise-font.eot');
  src:url('fonts/wise-font.eot?#iefix') format('embedded-opentype'),
    url('fonts/wise-font.woff') format('woff'),
    url('fonts/wise-font.ttf') format('truetype'),
    url('fonts/wise-font.svg#wise-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'wise-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon, .icon-calendar, .icon-time, .icon-chevron-up, .icon-chevron-down {
  font-family: 'wise-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-home:before {
  content: "\e000";
}
.icon-file:before {
  content: "\e001";
}
.icon-cog:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e002";
}
.icon-thumbs-up:before {
  content: "\e004";
}
.icon-bubble:before {
  content: "\e005";
}
.icon-forward:before {
  content: "\e006";
}
.icon-copy:before {
  content: "\e007";
}
.icon-locked:before {
  content: "\e008";
}
.icon-search:before {
  content: "\e00a";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-speech:before {
  content: "\e009";
}
.icon-calendar:before {
  content: "\e00b";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-user-2-add:before {
  content: "\e00c";
}
.icon-user-4-add:before {
  content: "\e00d";
}
.icon-tick:before {
  content: "\e00e";
}
.icon-star:before {
  content: "\e00f";
}
.icon-star-2:before {
  content: "\e010";
}
.icon-video:before {
  content: "\e011";
}
.icon-users:before {
  content: "\e012";
}
.icon-tag:before {
  content: "\e013";
}
.icon-spinner-2:before {
  content: "\e014";
}
.icon-speech-bubble-right:before {
  content: "\e015";
}
.icon-spam:before {
  content: "\e016";
}
.icon-pencil:before {
  content: "\e018";
}
.icon-pen:before {
  content: "\e019";
}
.icon-outgoing:before {
  content: "\e01a";
}
.icon-notes:before {
  content: "\e01b";
}
.icon-mixer:before {
  content: "\e01c";
}
.icon-menu:before {
  content: "\e01d";
}
.icon-list:before {
  content: "\e01e";
}
.icon-list-2:before {
  content: "\e01f";
}
.icon-image:before {
  content: "\e020";
}
.icon-flag:before {
  content: "\e021";
}
.icon-delete:before {
  content: "\e022";
}
.icon-compass:before {
  content: "\e023";
}
.icon-compose-4:before {
  content: "\e024";
}
.icon-clock:before {
  content: "\e025";
}
.icon-calendar-2:before,
.icon-calendar:before {
  content: "\e026";
}
.icon-asterisk:before {
  content: "\e027";
}
.icon-arrow-right:before {
  font-family: 'wise-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e028";
}
.icon-arrow-left:before {
  font-family: 'wise-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e029";
}
.icon-add:before {
  content: "\e02a";
}
.icon-speech-bubble-left-4:before {
  content: "\e02b";
}
.icon-speech-bubble-left-2:before {
  content: "\e02c";
}
.icon-search-2:before {
  content: "\e02d";
}
.icon-remove:before {
  content: "\e017";
}
.icon-link:before {
  content: "\e02e";
}
.icon-home-2:before {
  content: "\e02f";
}
.icon-heart-empty-2:before {
  content: "\e030";
}
.icon-heart-full:before {
  content: "\e031";
}
.icon-document:before {
  content: "\e032";
}
.icon-document-add:before {
  content: "\e033";
}
.icon-cross:before {
  content: "\e034";
}
.icon-bin-3:before {
  content: "\e035";
}
.icon-attachment-2:before {
  content: "\e036";
}
.icon-arrow-down:before {
  content: "\e037";
}
.icon-arrow-up:before {
  content: "\e038";
}
.icon-alarm-clock:before {
  content: "\e039";
}
.icon-twitter:before {
  content: "\e03a";
}
.icon-flask-full:before {
  content: "\e03b";
}
.icon-radio-checked:before {
  content: "\e03c";
}
.icon-radio-unchecked:before {
  content: "\e03d";
}
.icon-bars:before {
  content: "\e03e";
}
.icon-link-2:before {
  content: "\e03f";
}
.icon-cog-2:before {
  content: "\f013";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-profile:before {
  content: "\e040";
}
.icon-caret-down:before,
.icon-chevron-down:before {
  content: "\f0d7";
}
.icon-caret-up:before,
.icon-chevron-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-image-2:before {
  content: "\e041";
}
.icon-user:before {
  content: "\f007";
}
.icon-bubbles:before {
  content: "\e042";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-eye:before {
  content: "\e043";
}
.icon-plus:before {
  content: "\e044";
}
.icon-square:before {
  content: "\e045";
}
.icon-menu-2:before {
  content: "\e046";
}
.icon-clock-2:before, .icon-time:before {
  content: "\e047";
}
.icon-remove-2:before {
  content: "\f00d";
}
.icon-eye-2:before {
  content: "\e048";
}
.icon-browser-upload:before {
  content: "\e049";
}
.icon-credit-card-3:before {
  content: "\e04a";
}
.icon-browser-new-window-2:before {
  content: "\e04b";
}
.icon-cloud-add-2:before {
  content: "\e04c";
}
.icon-inbox:before {
  content: "\e04d";
}
.icon-headphones:before {
  content: "\e04e";
}
.icon-user-3:before {
  content: "\e04f";
}
.icon-droplet:before {
  content: "\e050";
}
.icon-pin-2:before {
  content: "\e051";
}
.icon-link-2-2:before {
  content: "\e052";
}
.icon-layout-content-left:before {
  content: "\e053";
}
.icon-logo-wise:before {
  content: "\e054";
}
.icon-nitro:before {
  content: "\e055";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-star-3:before {
  content: "\e056";
}
.icon-star-4:before {
  content: "\e057";
}
.icon-star-5:before {
  content: "\e058";
}
.icon-brightness-high:before {
  content: "\e059";
}
.icon-contract-2:before {
  content: "\e05a";
}
.icon-dashboard:before {
  content: "\e05b";
}
.icon-paragraph-justify-2:before {
  content: "\e600";
}
.icon-video-2:before {
  content: "\e601";
}
.icon-pin:before {
  content: "\e602";
}
.icon-browser-new-window-22:before {
  content: "\e603";
}
.icon-inbox2:before {
  content: "\e604";
}
.icon-contract-3:before {
  content: "\e605";
}
.icon-flux:before {
  content: "\e606";
}
.icon-users:before {
  content: "\e012";
}
.icon-browser-upload-2:before {
  content: "\e607";
}
.icon-layout-content-right:before {
  content: "\e608";
}
.icon-database:before {
  content: "\e609";
}
.icon-pencil:before {
  content: "\e60a";
}
.icon-stopwatch:before {
  content: "\e60d";
}
.icon-bullhorn:before {
  content: "\e60b";
}
.icon-cogs:before {
  content: "\e60e";
}
.icon-repeat:before {
  content: "\e60f";
}
.icon-refresh:before {
  content: "\e610";
}
.icon-bell:before {
  content: "\e611";
}
.icon-bell-alt:before {
  content: "\e612";
}
.icon-linkedin-sign:before, .icon-linkedin:before {
  content: "\e613";
}
.icon-compose-2:before {
  content: "\e614";
}
.icon-pull:before {
  content: "\e615";
}
.icon-blank-flow:before {
  content: "\e616";
}
.icon-revert:before {
  content: "\e617";
}
.icon-google-plus:before {
  content: "\e618";
}
.icon-in:before {
  content: "\e61a";
}
.icon-out:before {
  content: "\e619";
}
.icon-play:before {
  content: "\e61b";
}
.icon-chevron-up:before {
	content: "\e61c";
}
.icon-chevron-down:before {
	content: "\e61d";
}
.icon-next:before {
	content: "\e61e";
}
.icon-polaroid-2:before {
	content: "\e620";
}
.icon-rss:before {
	content: "\e61f";
}
.icon-envelope:before {
	content: "\e621";
}
.icon-infor:before {
  content: "\e622";
}
