@if ($use-header == true) {
  #header {
    line-height: 1;
    height: $header-height;
    font-size: 11px;
    background: $background-header;
    min-width: $content-min-width;
    a {
      color: #FFF;
      text-decoration: none;
    }
    &.narrow {
      .nav {
        line-height: $header-height;
      }
    }
  }
  .nav {
    margin: 0;
    line-height: $header-height - 30px;
    word-spacing: normal;
    // letter-spacing: normal;
    > li {
      vertical-align: middle;
    }
    > li > a {
      text-align: center;
      display: inline-block;
      padding: 0;
      color: $nav-header;
      position: relative;
      span {
        position: relative;
        line-height: 1em;
        display: inline-block;
        width: 100%;
        b {
          display: none;
          font-family: ttr;
          color: $pink;
          position: absolute;
          bottom: -14px;
          left: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
    .disabled {
      a {
        cursor: not-allowed;
        span {

        }
      }
      i {
        background: $text;
      }
    }
  }
  .nav__icon {
    line-height: 1;
    > a {
      line-height: 34px;
      padding: 21px 28px 14px !important;
      > .icon {
        display: block;
      }
    }
  }
  .nav--stacked {
    line-height: inherit;
  }
  .logo {
    display: block;
    line-height: $header-height;
    width: $left-col-width;
    overflow: hidden;
    span {
    text-indent: -1000em;
      display: inline-block;
      background: image-url("big_logo_grey.png") no-repeat 0 0;
      width: 145px;
      height: 38px;
      line-height: 38px;
      @include background-size(cover);
    }
  }
  #account {
    width: 200px;
    line-height: $header-height;
    margin-right: $half-spacing-unit;
    display: inline-block;
    vertical-align: middle;
    .account-wrapper {
      display: inline-block;
      vertical-align: middle;
      line-height: 12px;
    }
    a {
      display: block;
    }
    a.username {
      position: relative;
    }
    img {
      position: absolute;
      left: -52px;
      top: -10px;
      width: 42px;
      height: 42px;
      margin-right: $half-spacing-unit;
      @include inline-block;
      @include border-radius(42px);
    }
  }
  #notifications {
    position: relative;
    line-height: $header-height - 28px;
    margin-right: $base-spacing-unit*2;
    padding-top:  28px;
    &.open {
      &:before {
        position: absolute;
        display: block;
        content: '';
        bottom: -1px;
        z-index: 2;
        left: 0;
        @include triangle(top,3em,half,$white);
      }
    }
    > .icon {
      color: $text;
      position: relative;
      font-size: 28px;
      i {
        display: block;
        font-family: ttb;
        font-size: 14px;
        position: absolute;
        font-style: normal;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: $orange;
        color: $white;
        @include border-radius(24px);
      }
    }
    ul {
      list-style: none;
      line-height: 1em;
      padding: 0;
      margin: 0;
      width: 300px;
      background: $white;
      left: -30px;
      border: 1px solid $light-grey;
      overflow: auto;
      max-height: 236px;
    }
    li {
      border-bottom: 1px solid $light-grey;
      position: relative;
      &:last-child {
        border: none;
      }
      .read {
        background: $light-grey;
      }
      a:first-child {
        display: block;
        padding: $half-spacing-unit $half-spacing-unit*1.5 $half-spacing-unit $half-spacing-unit*1.5 + 40px;
        color: $text;
        b {
          display: block;
          font-family: ttb;
        }
        .icon {
          position: absolute;
          font-size: 20px;
          left: $half-spacing-unit*1.5;
        }
      }
      .hide {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2;
        padding: 0;
        input + span {
          color: $light-grey;
        }
        input:checked + span {
          color: darken($light-grey, 10%);
        }
      }
    }
  }
  .toolbar {
    .dropdown__toggle {
      color: $light-grey !important;
      padding: 3px;
      &:hover {
        background: $titles;
        color: #FFF !important;
      }
    }
    a {
      text-decoration: none;
    }
    &.open {
      .dropdown__toggle {
        background: $titles;
        color: #FFF !important;
      }
    }
    ul {
      list-style: none;
      line-height: 1em;
      padding: 0;
      margin: -2px 0;
      width: 150px;
      background: $white;
      right: 0;
      border: 1px solid $titles;
      overflow: auto;
      max-height: 236px;
      z-index: 10;
    }
    li {
      a {
        display: block;
        padding: 6px 12px;
        b {
          display: block;
          font-family: ttb;
        }
        &:hover {
          background: $light-grey !important;
        }
      }
    }
  }
}
