@if ($use-progressbar == true) {
  .progress-bar {
    @include inline-block;
    width: 100%;
    // background: $light-grey;
    line-height: 1em;
    height: 1em;
    border-left: 1px solid $titles;
    span {
      @include inline-block;
      line-height: 1em;
      height: 1em;
      background: $violet;      
    }
  }
  .progress-bar--full {
    border-left: none;
    line-height: 1.5;
    height: 1.5em;      
    span {
      line-height: 1.5em;
      height: 1.5em;      
    }
  }
}
