.btn {
  color: #FFF !important;
  background-color: $background-nav;
  border-bottom: .3em solid darken($background-nav, 20%);
  padding-left: 2em;
  padding-right: 2em;
  line-height: 3.6em;
  height: 3.5em;
  @include single-transition(all, .3s);
  &:hover, &:focus {
    background-color: darken($background-nav, 10%);
    border-bottom: .3em solid darken($background-nav, 30%);
  }
}

.btn--icon {
  position: relative;
  padding-left: 4.7em !important;
  .icon {
    border-right: 1px solid darken($background-nav, 30%);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    line-height: 3.4em;
    padding-left: 1em;
    padding-right: 1em;
    background: none;
  }
}

.btn--toggle {
  position: relative;
  padding-right: 4.7em !important;
  .icon-caret-down {
    border-left: 1px solid darken($background-nav, 30%);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    line-height: 3.4em;
    padding-left: 1em;
    padding-right: 1em;
    background: none;
    margin-right: 0 !important;
  }
}

.btn--transparent {
  color: $background-nav !important;
  background: none;
  border-bottom-color: transparent;
  // text-decoration: underline;
  &:hover, &:focus {
    background: none;
    border-bottom-color: transparent;
  }
}

.btn--pink {
  background-color: $pink;
  border-bottom-color: darken($pink, 20%);
  &:hover, &:focus {
    background-color: darken($pink, 10%);
    border-bottom-color: darken($pink, 30%);
  }
  .icon {
    border-color: darken($pink, 30%) !important;
  }
}

.btn--orange {
  background-color: $orange;
  border-bottom-color: darken($orange, 20%);
  &:hover, &:focus {
    background-color: darken($orange, 10%);
    border-bottom-color: darken($orange, 30%);
  }
  .icon {
    border-color: darken($orange, 20%) !important;
  }
}

.btn--green {
  background-color: $green;
  border-bottom-color: darken($green, 20%);
  &:hover, &:focus {
    background-color: darken($green, 10%);
    border-bottom-color: darken($green, 30%);
  }
  .icon {
    border-color: darken($green, 30%) !important;
  }
}

.btn--blue {
  background-color: $blue;
  border-bottom-color: darken($blue, 10%);
  &:hover, &:focus {
    background-color: darken($blue, 10%);
    border-bottom-color: darken($blue, 20%);
  }
  .icon {
    border-color: darken($blue, 20%) !important;
  }
}

.btn--violet {
  background-color: $violet;
  border-bottom-color: darken($violet, 20%);
  &:hover, &:focus {
    background-color: darken($violet, 10%);
    border-bottom-color: darken($violet, 30%);
  }
  .icon {
    border-color: darken($violet, 30%) !important;
  }
}

.btn--light-grey {
  background-color: lighten($text,40%);
  color: $titles !important;
  border-bottom-color: lighten($text, 30%);
  &:hover, &:focus {
    background-color: lighten($text,20%);
    border-bottom-color: $text;
  }
  .icon {
    border-color: lighten($text,20%) !important;
  }
  &.bd {
    border-bottom: 1px solid $light-grey !important;
  }
}

.btn--dark-blue {
  background-color: lighten($dark-blue, 8%);
  border-bottom-color: darken($dark-blue, 10%);
  &:hover, &:focus {
    background-color: $dark-blue;
    border-bottom-color: darken($dark-blue, 20%);
  }
  .icon {
    border-color: lighten($dark-blue,20%) !important;
  }
}



.btn--alpha{
  @include font-size($h4-size, false);
}

.btn--beta{
  @include font-size($h5-size, false);
}

.btn--gamma {
  @include font-size($h6-size, false);
  &.btn--icon {
    padding-left: 4em !important;
  }
  .icon {
    @include font-size($h6-size, false);
    line-height: 3.3em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.btn--delta {
  border-bottom-width: 0 !important;
  @include font-size(10px, false);
  .icon {
    margin-right: $half-spacing-unit/2;
  }
}

.btn--large {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 5;
}

.btn--positive {
  color: #FFF;
  background-color: $pink;
  border-bottom: .3em solid darken($pink, 20%);
  &:hover, &:focus {
    background-color: darken($pink, 10%);
    border-bottom: .3em solid darken($pink, 30%);
  }
}

.btn--negative {
  color: #FFF;
  background-color: $violet;
  border-bottom: .3em solid darken($violet, 20%);
  &:hover, &:focus {
    background-color: darken($violet, 10%);
    border-bottom: .3em solid darken($violet, 30%);
  }
}

.form-fields {
  h3 {
    margin-bottom: 0;
  }
}

.transparent {
  background-color: #fff;
  border: none;
  @include font-size(12px, false);
}

.additional {
  display: inline-block;
}

.low {
  text-transform: lowercase !important;
}

// Custom classes
.buttons-container {
  padding: $base-spacing-unit;
  background: $background-header;
  color: #FFF;
}

.radio {
  display: inline;
  @include experimental('user-select',none);
  input {
    display: none;
    &:checked + span {
      color: $theme-color-secondary;
      .icon:before {
        content: "\e03c";
      }
    }
  }
}

.checkbox {
  display: inline;
  @include experimental('user-select',none);
  input {
    display: none;
    &:checked + span {
      color: $theme-color-secondary;
      .icon:before {
        content: "\e034";
      }
    }
  }
}

.toggle {
  @include inline-block;
  @include experimental('user-select',none);
  input {
    display: none;
    & + span {
      @include inline-block;
      @include single-transition(border, .15s);
      background: $white;
      border: 3px solid $text;
      border-right-width: 19px;
      width: 36px;
      height: 18px;
    }
    &:checked + span {
      border: 3px solid $violet;
      border-left-width: 19px;
      width: 36px;
    }
  }
}


.slider {
  background: $theme-color-secondary;
  width: 100%;
  .dragger {
    background: $titles;
    border: none;
    line-height: 20px;
    text-align: center;
    color: lighten($titles,20%);
    @include border-radius(0);
    @include box-shadow(none);
    &:hover {
      background: $titles;
    }
    &:before {
      font-family: 'wise-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e046";
    }
  }
  .track {
    height: 16px;
    background: $light-grey;
    border: none;
    margin-left: 8px;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .highlight-track {
    background: $theme-color-secondary;
    height: 16px;
    margin-left: -8px;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .value {
    position: absolute;
    top: -48px;
    // width: 100px;
    background: $orange;
    text-align: center;
    color: $white;
    padding: $half-spacing-unit/2 $half-spacing-unit;
    &:before {
      position: absolute;
      display: block;
      margin-left: -5px;
      bottom: -8px;
      left: 50%;
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $orange transparent transparent transparent;
    }
    &:hover {
      background: darken($orange, 10%);
      &:before {
        border-top-color: darken($orange, 10%);
      }
    }
  }
}

.steps {
  li {
    $bullet-width: 6px;
    $bullet-spacing: 10px;
    position: relative;
    &:before {
      position: absolute;
      z-index: 1;
      display: block;
      background: $background-page;
      width: 100%;
      height: 1px;
      top: 0;
      left: -50%;
      content: "";
      @include single-transition(background, .2s);
    }
    strong {
      color: $light-grey;
      @include single-transition(color, .2s);
      &:before {
        position: relative;
        z-index: 10;
        display: block;
        margin: -($bullet-spacing + $bullet-width/2) auto 0;
        content: "";
        width: (($bullet-spacing * 2) + $bullet-width);
        height: (($bullet-spacing * 2) + $bullet-width);
        background: $light-grey;
        border: $bullet-spacing solid $white;
        @include border-radius(28px);
        @include single-transition(background, .2s);
      }
    }
    &.done {
      strong {
        color: $theme-color-primary;
        &:before {
          background: $theme-color-primary;
        }
      }
    }
    &:first-child:before {
      display: none;
    }

    &.done + .done {
      &:before {
        background: $text;
      }
    }
  }
}

.alert {
  padding: $half-spacing-unit;
  color: #c09853;
  border: 1px solid #fbeed5;
  background-color: #fcf8e3;
  line-height: 1.2em;
  @include border-radius(4px);
  .alert-close {
    text-decoration: none;
    color: #c09853;
    // position: relative;
    // top: $half-spacing-unit / 2;
    // right: $half-spacing-unit / 2;
    // margin-left: $half-spacing-unit;
    @include opacity(.8);
    &:hover {
      @include opacity(1);
    }
  }
}
.alert-error {
  color: $orange;
  border-color: #FEC8C8;
  background-color: #FEF1F1;
  .alert-close {
    color: $orange;
  }
}
.alert-notice {
  color: #03B4D3;
  border-color: #B6E4ED;
  background-color: #F3FBFC;
  .alert-close {
    color: #03B4D3;
  }
}
