.btn {
  color: #FFF !important;
  background-color: $background-nav;
  border-bottom: .3em solid darken($background-nav, 20%);
  padding-left: 2em;
  padding-right: 2em;
  line-height: 3.1em;
  height: 3em;
  @include single-transition(all, .3s);
  &:hover {
    background-color: darken($background-nav, 10%);
    border-bottom: .3em solid darken($background-nav, 30%);
  }
}

.btn--icon {
  position: relative;
  padding-left: 7em !important;
  .icon {
    border-right: 1px solid darken($background-nav, 30%);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    line-height: 1.5em;
    padding-left: .7em;
    padding-right: .7em;
    background: none;
  }
}

.btn--transparent {
  color: $background-nav;
  background: none;
  border-bottom-color: transparent;
  text-decoration: underline;
  &:hover {
    background: none;
    border-bottom-color: transparent;
  }
}

.btn--pink {
  background-color: $pink;
  border-bottom-color: darken($pink, 20%);
  &:hover {
    background-color: darken($pink, 10%);
    border-bottom-color: darken($pink, 30%);
  }
  .icon {
    border-right-color: darken($pink, 30%);
  }
}

.btn--orange {
  background-color: $orange;
  border-bottom-color: darken($orange, 20%);
  &:hover {
    background-color: darken($orange, 10%);
    border-bottom-color: darken($orange, 30%);
  }
  .icon {
    border-right-color: darken($orange, 30%);
  }
}

.btn--green {
  background-color: $green;
  border-bottom-color: darken($green, 20%);
  &:hover {
    background-color: darken($green, 10%);
    border-bottom-color: darken($green, 30%);
  }
  .icon {
    border-right-color: darken($green, 30%);
  }
}

.btn--blue {
  background-color: $blue;
  border-bottom-color: darken($blue, 20%);
  &:hover {
    background-color: darken($blue, 10%);
    border-bottom-color: darken($blue, 30%);
  }
  .icon {
    border-right-color: darken($blue, 30%);
  }
}

.btn--light-grey {
  background-color: $text;
  border-bottom-color: darken($text, 20%);
  &:hover {
    background-color: darken($text, 10%);
    border-bottom-color: darken($text, 30%);
  }
  .icon {
    border-right-color: darken($text, 30%);
  }
}

.btn--alpha{
  @include font-size($h4-size, false);
}

.btn--beta{
  @include font-size($h5-size, false);
}

.btn--gamma {
  @include font-size($h6-size, false);
  padding-left: 4em !important;
  .icon {
    @include font-size($h6-size, false);
    line-height: 3em;
  }
}

.btn--delta {
  @include font-size(10px, false);
}

.btn--large {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 5;
}

.btn--positive {
  color: #FFF;
  background-color: $pink;
  border-bottom: .3em solid darken($pink, 20%);
  &:hover {
    background-color: darken($pink, 10%);
    border-bottom: .3em solid darken($pink, 30%);
  }
}

.btn--negative {
  color: #FFF;
  background-color: $violet;
  border-bottom: .3em solid darken($violet, 20%);
  &:hover {
    background-color: darken($violet, 10%);
    border-bottom: .3em solid darken($violet, 30%);
  }
}

.form-fields {
  h3 {
    margin-bottom: 0;
  }
}

.additional {
  display: inline-block;
}

.low {
  text-transform: capitalize !important;
}

// Custom classes
.inner {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.inner--box {
  // padding: 2 * $base-spacing-unit 3 * $base-spacing-unit;
  // background: #FFF;
}

// .logo {
//   display: inline-block;
//   text-indent: -1000em;
//   background: image-url('logo-black.png') 0 50% no-repeat;
//   width: 136px;
//   height: 24px;
//   @include background-size(cover);
// }

// .logo--white {
//   background-image: image-url('logo-white.png') !important;
// }

.buttons-container {
  padding: $base-spacing-unit;
  background: $background-header;
  color: #FFF;
}

.radio {
  display: inline;
  input {
    display: none;
    &:checked + span {
      color: $orange;
      .icon:before {
        content: "\e03c";
      }
    }
  }
}

.checkbox {
  display: inline;
  input {
    display: none;
    &:checked + span {
      color: $orange;
      .icon:before {
        content: "\e034";
      }
    }
  }
}
