/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true !default;
$use-flexbox:       true !default;
$use-columns:       true !default;
$use-nav:           true !default;
$use-options:       false !default;
$use-pagination:    false !default;
$use-breadcrumb:    false !default;
$use-media:         false !default;
$use-marginalia:    false !default;
$use-island:        true !default;
$use-block-list:    false !default;
$use-matrix:        true !default;
$use-split:         false !default;
$use-this-or-this:  false !default;
$use-link-complex:  false !default;
$use-flyout:        false !default;
$use-arrows:        false !default;
$use-sprite:        false !default;
$use-icon-text:     true !default;
$use-beautons:      true !default;
$use-lozenges:      false !default;
$use-rules:         false !default;
$use-stats:         false !default;
$use-greybox:       true !default;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-line-height:  24px!default;

$h1-size:           32px!default; // .alpha
$h2-size:           24px!default; // .beta
$h3-size:           18px!default; // .gamma
$h4-size:           16px!default; // .delta
$h5-size:           14px!default; // .epsilon
$h6-size:           12px!default; // .zeta

$english-quotes: true;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$use-opensans-font:     false!default;
$use-adelle-font:       false!default;
$use-brandon-font:      false!default;
$use-titillium-font:    true!default;
$use-klavika-font:      false!default;
$use-sidenav:           true!default;
$use-backgrid:          true!default;
$use-header:            true!default;
$use-country-select:    false!default;
$use-progressbar:       false!default;
$use-flags:             false!default;
$use-tooltips:          false!default;
$left-col-width:        180px!default;
$content-min-width:     800px!default;
$header-height:         130px!default;
$legacy-support-for-mozilla: false;
$legacy-support-for-ie: false;


// Wisemetrics colors
$black:                 #000!default;
$white:                 #FFF!default;
$pink:                  #f24273!default;
$violet:                #6E619F!default;
$light_violet:          #DAD8E7!default;
$orange:                #F4595A!default;
$green:                 #73A42E!default;
$blue:                  #18bfdd!default;
$dark-blue: 			      #3b5998!default;
$colors: $pink $violet $orange $green $blue $dark-blue;
$headline:              #A56E8A!default;
$light-grey:            #dddde1!default;
$titles:                #5F5F5F!default;
$titles-small:          #BCBDC3!default;
$text:                  #818285!default;
$nav:                   #8c8d92!default;
$nav-header:            lighten(#ABABAB, 20%);
$background-page:       #F0F0F3!default;
$background-section:    $white!default;
$background-testimonial:#2A2A2A!default;
$background-header:     #353535!default;
$background-nav:        $titles!default;
$background-nav-enabled:#474747!default;
$background-features:   #F3F4F8!default;
$background-footer:     #3e2637!default;
$background-orange:     #e9e4e4!default;
$baseBorderRadius:      0;
$borderRadiusLarge:     0;
$borderRadiusSmall:     0;
$brand-round:           0;

$theme-color-primary:   $violet!default;
$theme-color-secondary: $orange!default;