/* Wisemetrics products global stylesheet */
@import "compass/utilities/tables/scaffolding";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/user-interface";
@import "compass/css3/font-face";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/typography/vertical_rhythm";
@import "vars";
@import "inuit.css/inuit";
@import "ui/fonts";
@import "ui/tables";
@import "recipes/shape";

@import "ui/header";
@import "ui/country-select";
@import "ui/progressbar";
@import "ui/dropdown";
@import "ui/famfamfam-flags";
@import "ui/qtip";


/***
  Wise components
***/

strong, b {
  font-family: ttb;
  color: $titles;
}

// Display helpers
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  @include inline-block;
}
.clear {
  clear: both;
}
.strike {
  text-decoration: line-through;
}
.thin {
  font-family: ttr;
  font-weight: normal;
}
.ovh {
  overflow: hidden;
}
.single-line {
  line-height: 1 !important;
}

@mixin sidenav-color($bodyColor, $color) {
  $light: 90%;
  @if $bodyColor == 'violet' {
    $light: 80%;
  }
  .#{$bodyColor} & {
    > li > a {
      color: $color;
    }
    &.current {
      background: scale_color($color,$lightness: $light);
      .current a {
        &:before {
          border-color: transparent transparent transparent scale_color($color,$lightness: 90%);
        }
      }
    }    
  }
}

@if ($use-sidenav == true) {
  .sidenav {
    font-size: 11px;
    margin-bottom: 0;
    line-height: 30px;
    padding-left: 30px;
    a {
      position: relative;
      text-decoration: none;
    }
    > li {
      > a {
        line-height: 50px;
        text-transform: uppercase;
      }
      ul {
        border-top: 1px solid $nav-header;
        padding: 20px 0;
      }
      li {
        a {
          color: $text;
        }
        &.current {
          a {
            color: $titles;
            font-family: ttb;
            &:before {
              display: block;
              content: "";
              position: absolute;
              right: -7px;
              top: 50%;
              margin-top: -5px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 7px;
              // border-color: transparent transparent transparent lighten($pink,47%);
            }
          }
        }
      }
    }
    @include sidenav-color("pink",$pink);
    @include sidenav-color("green",$green);
    @include sidenav-color("orange",$orange);
    @include sidenav-color("blue",$blue);
    @include sidenav-color("violet",$violet);
  }
}

.transparent {
  background: none !important;
}

.pink {
  color: $pink;
  .nav & {
    a {
      color: $pink;
      i {
        background: $pink;
      }
    }
  }
}

.green {
  color: $green;
  .nav & {
    a {
      color: $green;
      i {
        background: $green;
      }
    }
  }
}

.orange {
  color: $orange;
  .nav & {
    a {
      color: $orange;
      i {
        background: $orange;
      }
    }    
  }
}

.blue {
  color: $blue;
  .nav & {
    a {
      color: $blue;
      i {
        background: $blue;
      }
    }
  }
}

.dark-blue {
  color: $dark-blue;
  .nav & {
    a {
      color: $dark-blue;
      i {
        background: $dark-blue;
      }
    }
  }
}

.violet {
  color: $violet;
  .nav & {
    a {
      color: $violet;
      i {
        background: $violet;
      }
    }
  }
}

.grey {
  color: $text;
  .nav & {
    a {
      color: $text;
      i {
        background: $text;
      }
    }
  }
}

.black {
  color: #000;
  .nav & {
    a {
      color: #000;
      i {
        background: #000;
      }
    }
  }
}

.white {
  color: $white;
  .nav & {
    a {
      color: $white;
      i {
        background: $white;
      }
    }
  }
}

.bg-pink {
  background: $pink;
}
.bg-green {
  background: $green;
}
.bg-orange {
  background: $orange;
}
.bg-blue {
  background: $blue;
}
.bg-violet {
  background: $violet;
}
.bg-grey {
  background: $text;
}
.bg-white {
  background: $white;
}


// Custom classes
.inner {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.inner--box {
  padding: 2 * $base-spacing-unit 3 * $base-spacing-unit;
  background: #FFF;
  h2 {
    margin: 2 * $base-spacing-unit 0;
  }
}

.section-title {
  @include font-size($h6-size, false);
  text-transform: uppercase;
  border-bottom: 1px solid $titles-small;
  color: $titles-small;
  display: inline-block;
}

.cta {
  color: $pink;
  text-decoration: none;
  text-transform: uppercase;
  @include font-size($h6-size, false);
  &:hover {
    text-decoration: underline;
  }
  &:before {
    margin-right: .5em;
    border: 2px solid $pink;
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    @include border-radius(1000em);
  }
}

.seperator {
  position: relative;
  display: inline-block;
  &:after{
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    background-color: #fff;
    width: 50%;
    bottom: -.5em;
    left: 25%;
  }
}

.optional {
  text-transform: none;
  color: lighten($text,20%);
}

.soft-quarter           { padding:       $half-spacing-unit / 2 !important; }
.soft-quarter--top      { padding-top:   $half-spacing-unit / 2 !important; }
.soft-quarter--right    { padding-right: $half-spacing-unit / 2 !important; }
.soft-quarter--bottom   { padding-bottom:$half-spacing-unit / 2 !important; }
.soft-quarter--left     { padding-left:  $half-spacing-unit / 2 !important; }
.soft-quarter--ends     { padding-top:   $half-spacing-unit / 2 !important; padding-bottom:$half-spacing-unit / 2 !important; }
.soft-quarter--sides    { padding-right: $half-spacing-unit / 2 !important; padding-left:  $half-spacing-unit / 2 !important; }

// Separators
.bd,
.bd-top,
.bd-right,
.bd-bottom,
.bd-left {
  border-color: $light-grey;
  border-style: solid;
  border-width: 0;
}
.bd {
  border-width: 1px;
}
.bd-top {
  border-top-width: 1px;
}
.bd-right {
  border-right-width: 1px;
}
.bd-bottom {
  border-bottom-width: 1px;
}
.bd-left {
  border-left-width: 1px;
}
.outlined {
  outline: 4px solid $light-grey;
}

// Mini logos
.logo--icon {
  &.icon {
    background: $dark-blue;
    color: #FFF;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
  }
  &.icon-twitter {
    background: $blue;    
  }
}