/* Wisemetrics products global stylesheet */
@import "compass";
@import "vars";
@import "inuit.css/inuit";
@import "ui/fonts";
@import "ui/tables";
@import "ui/header";

/***
  Wise components
***/

// Display helpers
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  @include inline-block;
}

.strike {
  text-decoration: line-through;
}

@if ($use-sidenav == true) {
  .sidenav {
    font-size: 11px;
    margin-bottom: 0;
    line-height: 30px;
    padding-left: 30px;
    a {
      position: relative;
      text-decoration: none;
    }
    > li {
      > a {
        line-height: 50px;
        text-transform: uppercase;
      }
      ul {
        border-top: 1px solid $nav-header;
        padding: 20px 0;
      }
      li {
        a {
          color: $text;
        }
        &.current {
          a {
            color: $titles;
            font-family: ttb;
            &:before {
              display: block;
              content: "";
              position: absolute;
              right: -7px;
              top: 50%;
              margin-top: -5px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 7px;
              // border-color: transparent transparent transparent lighten($pink,47%);
            }
          }
        }
      }
    }
  }
}

.transparent {
  background: none !important;
}

.pink {
  color: $pink;
  a {
    color: $pink;
    i {
      background: $pink;
    }
  }
  .current {
    background: lighten($pink,47%);
    .current a:before {
      border-color: transparent transparent transparent lighten($pink,47%);
    }
  }
}

.green {
  color: $green;
  a {
    color: $green;
    i {
      background: $green;
    }
  }
  .current {
    background: lighten($green,50%);
    .current a:before {
      border-color: transparent transparent transparent lighten($green,50%);
    }
  }
}

.orange {
  color: $orange;
  a {
    color: $orange;
    i {
      background: $orange;
    }
  }
  .current {
    background: lighten($orange,45%);
    .current a:before {
      border-color: transparent transparent transparent lighten($orange,45%);
    }
  }
}

.blue {
  color: $blue;
  a {
    color: $blue;
    i {
      background: $blue;
    }
  }
  .current {
    background: lighten($blue,50%);
    .current a:before {
      border-color: transparent transparent transparent lighten($blue,50%);
    }
  }
}

.grey {
  color: $text;
  a {
    color: $text;
    i {
      background: $text;
    }
  }
  .current {
    background: lighten($text,50%);
    .current a:before {
      border-color: transparent transparent transparent lighten($text,50%);
    }
  }
}


// .btn--icon {
//   position: relative;
//   padding-left: 4em !important;
//   .icon {
//     border-right: 1px solid darken($background-nav, 30%);
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-size: 1em;
//     line-height: 1.5em;
//     padding-left: 1em;
//     padding-right: 1em;
//   }
// }




// Custom classes
.inner {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.inner--box {
  padding: 2 * $base-spacing-unit 3 * $base-spacing-unit;
  background: #FFF;
  h2 {
    margin: 2 * $base-spacing-unit 0;
  }
}

.section-title {
  @include font-size($h6-size, false);
  text-transform: uppercase;
  border-bottom: 1px solid $titles-small;
  color: $titles-small;
  display: inline-block;
}

.cta {
  color: $pink;
  text-decoration: none;
  text-transform: uppercase;
  @include font-size($h6-size, false);
  &:hover {
    text-decoration: underline;
  }
  &:before {
    margin-right: .5em;
    border: 2px solid $pink;
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    @include border-radius(1000em);
  }
}

.seperator {
  position: relative;
  display: inline-block;
  &:after{
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    background-color: #fff;
    width: 50%;
    bottom: -.5em;
    left: 25%;
  }
}

.optional {
  text-transform: none;
  color: lighten($text,20%);
}

.soft-quarter           { padding:       $half-spacing-unit / 2 !important; }
.soft-quarter--top      { padding-top:   $half-spacing-unit / 2 !important; }
.soft-quarter--right    { padding-right: $half-spacing-unit / 2 !important; }
.soft-quarter--bottom   { padding-bottom:$half-spacing-unit / 2 !important; }
.soft-quarter--left     { padding-left:  $half-spacing-unit / 2 !important; }
.soft-quarter--ends     { padding-top:   $half-spacing-unit / 2 !important; padding-bottom:$half-spacing-unit / 2 !important; }
.soft-quarter--sides    { padding-right: $half-spacing-unit / 2 !important; padding-left:  $half-spacing-unit / 2 !important; }

